table.wrapper {
    background-color: #fff;
    border-collapse: collapse;
    color: #600000;
    font-family: input-mono, monospace;
    z-index: 1;

    /* Zebra striping */
    tr:nth-of-type(even) {
        background: #f6f6f6;
    }

    th,
    td {
        border: 1px solid #600000;
        text-align: center;
    }
    
    th {
        color: #600000;
        font-family: input-mono, monospace;
        font-weight: 700;
        font-style: normal;
        font-size: .7rem;
        padding: 14px 20px 10px;
        background-color: #00EEA7;
    }
    
    td {
        font-size: .7rem;
        padding: 14px 20px 10px;
    }

    img {
        max-width: 100px;
    }
}