.wrapper {
    display: block;
    position: fixed;
    padding: 20px 50px 18px;
    top: 42px;
    left: -177px;
    
    
    text-align: center;
    z-index: 1000;
    transform: rotate(-45deg);
    background-color: #000;
    font-size: 1em;
    text-transform: uppercase;
    color: #fff;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .5);
    width: 500px;

    @media (min-width: 768px) {
        font-size: 1.5em;
        top: 75px;
        left: -135px;
        transform: rotate(-45deg);
    }

    @media (min-width: 1500px) {
        font-size: 1.75em;
        top: 100px;
        left: -105px;
        padding: 25px 100px 22px;
    }
}