@import url("https: //cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

html,
body {
  padding: 0;
  margin: 0;
  font-family: korolev, Roboto, Helvetica Neue, sans-serif;
}

body {
  background: #FF6DBC;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #FF2950, #FF6DBC);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #FF2950, #FF6DBC);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  display: block;
  height: 100vh;
  width: 100%;  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 0;
  width: 100%;
}

.header {
  text-align: center;
}

.header img {
  width: 175px;
}

h1 {
  color: #fff;
  font-size: 3rem;
  font-family: korolev, sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
}

table {
  border-collapse: collapse;
  color: #fff;
  font-family: input-mono, monospace;}

table,
th,
td {
  border: 1px solid #fff;
  text-align: center;
}

th {
  color: #600000;
  font-family: input-mono, monospace;
  font-weight: 700;
  font-style: normal;
  font-size: .7rem;
  padding: 14px 20px 10px;
  background-color: #00EEA7;
}
td {
  font-size: .7rem;
  padding: 14px 20px 10px;
}